{{define "headAssets"}}
    <meta name="theme-color" content="#89b4fa">
    {{.SEOMeta}}
    <link rel="manifest" href="{{.AssetPrefix}}/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{.SiteTitle}}">
    <link rel="apple-touch-icon" href="{{.AssetPrefix}}/static/icons/icon-180.png">
    <link rel="stylesheet" href="{{.AssetPrefix}}/static/css/common.css">
    <link rel="stylesheet" href="{{.AssetPrefix}}/static/css/components.css">
    <link rel="stylesheet" href="{{.AssetPrefix}}/static/css/public.css">
{{end}}
