<!DOCTYPE html>
<html lang="{{.Lang}}" dir="{{.Dir}}" data-theme="{{.Theme}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Paste.Title}}</title>
    <link rel="stylesheet" href="{{.BaseURL}}/static/css/main.css">
</head>
<body>
    <div class="emb-wrap">
        <div class="emb-header">
            <span class="lang">{{.Paste.Language}}</span>
            <span>{{.Paste.Title}}</span>
            <span class="ml-auto">{{.Paste.Views}} {{t .Lang "paste.views"}}</span>
        </div>
        <div class="emb-body">
            <pre><code>{{.Content}}</code></pre>
        </div>
    </div>
</body>
</html>
